<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>List Notes</h1>
    </div>
    <div class="col-md-3">
      <div class="btn-add">
        <a ui-sref="create-note">
          <button class="btn btn-primary" ng-click="addUser()">Add new note</button>
        </a>
      </div>
      
    </div>
    
  </div>
  
  <div class="row">
    <div ng-if="!notes || notes.length === 0">
        <div class="well well-sm text-center">You don't have any Note!</div>
    </div>

    <table class="table" ng-if="notes.length > 0">
      <thead>
        <tr>
          <th>Title</th>
          <th>Created by</th>
          <th>Version</th>         
          <th>Date created</th>
          <th>Date updated</th>
          <th>Action</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="note in notes">
          <td><a ui-sref="detail-note({id: note.id})">{{note.title}}</a></td>
          <td>{{currentUser.uname}}</td>
          <td>{{note.version}}</td>
          <td>{{note.created_at}}</td>
          <td>{{note.updated_at}}</td>
          <td><a ui-sref="detail-note({id: note.id})"><button class="btn btn-warning">Edit</button></a></td>
          <td><button class="btn btn-danger" ng-click="deleteNote(note.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>